/* add your own styles here */

img {
    max-width: 80%;
}

body {
    background-color: rgb(248, 249, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

header {
    position: fixed;
    height: 75px;
    top: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}


h1 {
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    color: rgb(50, 207, 207);
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    color: rgb(50, 207, 207);
    text-align: center;
}


/* https://codepen.io/Hakymz/pen/XWJwxxL  code for button design */ 
footer {
    position: fixed;
    bottom: 0px;
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
}


#takePhoto {
    min-width: 150px;
    padding: 15px 10px;
    margin-top: 5px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    color: rgb(50, 207, 207);
    box-shadow: -7px -7px 20px 0 rgba(234, 234, 234, 0.7), 
    7px 7px 20px 0 rgba(141, 137, 153, 0.2);
}







